<div class="container mt-lg">
<p>
  <strong>Status:</strong>
  <%= @job.status %>
</p>

<p>
  <strong>Title:</strong>
  <%= @job.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @job.description %>
</p>

<p>
  <strong>Deliverables:</strong>
  <%= @job.deliverables %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @job.duration %>
</p>

<p>
  <strong>Language:</strong>
  <%= @job.language %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @job.amount %>
</p>

<p>
  <strong>Online:</strong>
  <%= @job.online %>
</p>

<p>
  <strong>Address:</strong>
  <%= @job.address %>
</p>

<p>
  <strong>User:</strong>
  <%= @job.user.email %>
</p>


 <!--if current user not in blocked users-->
  <% if user_signed_in? %>
    <% if @blocked.include?  current_user.id %>
      <p>You cannot place a reservation on this job as you are blocked from this Job.</p>
    <% else %>
      <!--RESERVE FORM-->
      <% if !@job.reservations.exists?(user: current_user) %>
        <%= form_for(@job.reservations.new) do |form| %>
            <%= form.hidden_field :job_id, id: :reservation_job_id,value: @job.id %>
            <%= form.hidden_field :user_id, id: :reservation_user_id,value: current_user.id %>
            <% ending_time = (@job.duration / Variable.find_by_name("RESERVATION_FACTOR").value.to_f)*24*60*60 %>
            <%= form.hidden_field :ending_time, id: :reservation_ending_time,value: (Time.now + ending_time.seconds) %>
        
          <div class="actions">
            <%= form.submit %>
          </div>
        <% end %>
      <% else %>
        You already have a reservation on this job.
        <%= link_to "view details", reservation_path(@job.reservations.where(user: current_user).first.slug) %>
      <% end %>
    <% end %>
  <% end %>

</div>

