
<div class="container mt-lg">
    <div class="card">
        <center>
            <div class="alert alert-warning">Successfully authenticated from PayPal. Kindly click on "confirm payment" button and your job will go live!</div>
        <h2>Payment Summary</h2>
        <table class="table">
            <tr>
                <td>Title</td>
                <td><%= @job.title %></td>
            </tr>
            <tr>
                <td>Amount</td>
                <td>USD <%= @job.amount %></td>
            </tr>
            <tr>
                <td>Description</td>
                <td><%= @job.description %></td>
            </tr>
            <tr>
                <td>Deliverables</td>
                <td><%= @job.deliverables %></td>
            </tr>
        </table>
        <% if @express_token.present? %>
            <% details =  EXPRESS_GATEWAY.details_for(@express_token) %>
            <%= form_tag "/jobs/confirm_payment/#{@job.slug}" do %>
                <%= hidden_field_tag :express_token,@express_token %>
                <%= submit_tag "Confirm Payment", class: "btn btn-primary" %>
            <% end %>
        <% end %>
        </center>
        <br/>
    </div>
</div>