<div class="container p-4">
	<div class="featured-boxes featured-boxes-style-8">
      <span class="badge badge-primary"><%= @job.status %> </span>  
    <div class="row">
	    <div class="col-md-8">
	      <div class="heading heading-primary heading-border heading-bottom-border">
          <h1><%= @job.title %></h1>
        </div> 
        <div class="featured-box featured-box-primary featured-box-text-left grey-bg mb-0">
    			<div class="box-content">
    			  <h3 class="mb-0 text-capitalize">Description:</h3>
          </div>
        </div>
        <div class="featured-box featured-box-primary featured-box-text-left mt-0">
    			<div class="box-content">
            <%= @job.description %>    
          </div>
        </div>

        <div class="featured-box featured-box-primary featured-box-text-left grey-bg mb-0">
    			<div class="box-content">
    			  <h3 class="mb-0 text-capitalize">Deliverables:</h3>
          </div>
        </div>
        <div class="featured-box featured-box-primary featured-box-text-left mt-0">
    			<div class="box-content">
            <%= @job.deliverables %>
          </div>
        </div>
        <div class="featured-box featured-box-primary featured-box-text-left mt-0">
          <% if user_signed_in? and current_user == @job.user and @job.status == "PENDING" %>
            <center>
                <p>You need to process payment before your Job goes live.</p>
                <%= link_to image_tag("https://www.paypal.com/en_US/i/btn/btn_xpressCheckout.gif"), express_job_path %>
            </center>
          <% end %>
        </div>
      </div>
      <div class="col-md-4">
        <div class="featured-box featured-box-primary featured-box-text-left mt-0">
    			<div class="box-content p-mb-0">
            <p>
              <strong>Duration:</strong>
              <%= @job.duration %>
            </p>
            
            <p>
              <strong>Language:</strong>
              <%= @job.language %>
            </p>
            
            <p>
              <strong>Amount:</strong>
              <%= @job.amount %>
            </p>
            
            <p>
              <strong>Online/Local:</strong>
              <%= @job.online ? "Online" : "Local" %>
            </p>
            <% if !@job.online %>
              <p>
                <strong>Address:</strong>
                <%= @job.address %>
              </p>
            <% end %>
            
            <p>
              <strong>User:</strong>
              <%= @job.user.email %>
            </p>
            
            <!--< if user_signed_in? and current_user == @job.user %>-->
            
            
            
             <!--if current user not in blocked users-->
              <% if user_signed_in? %>
                <% if @blocked.include?  current_user.id %>
                  <p>You cannot place a reservation on this job as you are blocked from this Job.</p>
                <% else %>
                  <!--RESERVE FORM-->
                  <% if !@job.reservations.exists?(user: current_user) %>
                    <%= form_for(@job.reservations.new) do |form| %>
                        <%= form.hidden_field :job_id, id: :reservation_job_id,value: @job.id %>
                        <%= form.hidden_field :user_id, id: :reservation_user_id,value: current_user.id %>
                    
                      <div class="actions">
                        <%= form.submit "Make Reservation", class: "login loginmodal-button loginmodal-submit mt-1" %>
                      </div>
                    <% end %>
                  <% else %>
                    You already have a reservation on this job.
                    <%= link_to "View Reservation", reservation_path(@job.reservations.where(user: current_user).first.slug), class:"login loginmodal-button loginmodal-submit mt-1" %>
                  <% end %>
                <% end %>
              <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>  
</div>