<div class="container-fluid pt-5 pb-5" style="background:#F7F7F7">
  <div class="row">
  	  <div class="loginmodal-container loginmodal-container-edit">
  			<div class="loginmodal-container-2">
  				<h1>Join Freelance</h1>
                <%= form_for @user do |f| %>
      			
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-2">
                            <%= f.label :name %>
                        </div>
                        <div class="col-md-10">
                            <%= f.label :name %>
                        </div>
                    </div>
                </div>
                <%= f.text_field :name, ,class: "form-control input-md", placeholder: "Name" %>
                <%= f.password_field :password, autocomplete: "off", class: "form-control input-md", placeholder: "Enter Your Password"  , id: "join_pword" %>
                <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control input-md", placeholder: "Confirm Your Password", id: "join_cpword" %>
    					
    					  <%= f.submit "Sign Up", class: "login loginmodal-button loginmodal-submit" %>
      			<% end %>
  				
  			</div>
  				<hr class="hr-or">
  				<p style="text-align: center;">Already a Member? <a href="/users/sign_in"> Login </a></p>
  		</div> 
  </div>
</div>

<%#= render "devise/shared/links" %>
