<div class="container-fluid pt-5 pb-5" style="background:#F7F7F7">
  <div class="row">
  	  <div class="loginmodal-container loginmodal-container-edit">
  			<div class="loginmodal-container-2">
  				<h1>Update Your Profile</h1>
                <%= form_for @user do |f| %>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-2 form-large">
                                    <%= f.label :name %>
                                </div>
                                <div class="col-md-10 form-large">
                                    <%= f.text_field :name, class: "form-control form-control-md" %>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-3">
                                    <%= f.label :username %>
                                </div>
                                <div class="col-md-9">
                                    <%= f.text_field :username, class: "form-control form-control-md" %>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-3">
                                   <%= f.label :identifier %>
                                </div>
                                <div class="col-md-9">
                                    <%= f.text_field :identifier, class: "form-control form-control-md" %>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-3">
                                   <%= f.label :phone_number %>
                                </div>
                                <div class="col-md-9">
                                    <%= f.text_field :phone_number, class: "form-control form-control-md" %>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-3">
                                   <%= f.label :company_name %>
                                </div>
                                <div class="col-md-9">
                                    <%= f.text_field :company_name, class: "form-control form-control-md" %>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-3">
                                   <%= f.label :githhub_link %>
                                </div>
                                <div class="col-md-9">
                                    <%= f.text_field :githhub_link, class: "form-control form-control-md" %>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-3">
                                   <%= f.label :website_link %>
                                </div>
                                <div class="col-md-9">
                                    <%= f.text_field :website_link, class: "form-control form-control-md" %>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-3">
                                   <%= f.label :portfolio %>
                                </div>
                                <div class="col-md-9">
                                    <%= f.text_field :portfolio, class: "form-control form-control-md" %>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-3">
                                    <%= f.label :linkedin_link %>
                                </div>
                                <div class="col-md-9">
                                    <%= f.text_field :linkedin_link, class: "form-control form-control-md" %>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-3">
                                    <%= f.label :other_link1 %>
                                </div>
                                <div class="col-md-9">
                                    <%= f.text_field :other_link1, class: "form-control form-control-md" %>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-3">
                                    <%= f.label :other_link2 %>
                                </div>
                                <div class="col-md-9">
                                    <%= f.text_field :other_link2, class: "form-control form-control-md" %>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-2 form-large">
                                     <%= f.label :experience %>
                                </div>
                                <div class="col-md-10 form-large">
                                    <%= f.text_area :experience, class: "form-control form-control-md" %>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>  
                <div class="row">
                    <div class="col-md-3">
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-12">
                                     <%= f.submit "Update", class: "login loginmodal-button loginmodal-submit" %>
                                </div>
                            </div>
                        </div>
                    </div>    
					<div class="col-md-3">
                    </div>
                </div>    
      			<% end %>
  			</div>
  		</div> 
  </div>
</div>

<%#= render "devise/shared/links" %>
