<div class="container">
  <div class="row mt-4">
    <div class="col-lg-10">
      <% if @status == "alljobs" %>
        <h3>All Jobs</h3>
      <% else %>
        <h3><%= @status %> Jobs</h3>
      <% end %>
    </div>
  </div>
  <% @jobs.each do |job| %>
    <div class="card mb-3 p-3 clickable" id="clickablediv<%=job.id%>">
  		<div class="row">
        <div class="col-md-12">
          <div class="job-text">
              <div class="job-detail mr-1"><%= job.category.name %></div> <div class="job-detail"><%= job.subcategory.name %></div>
              <h4 title="<%= job.title %>"><%= link_to job.title.truncate(95),job_path(job.slug) %></h4>
              <div class="mb-2"><span class="text-muted job-info"><%= job.user.name %> - Reserve Job for: <%= job.duration %> Days - Budget: $<%= job.amount  %> - Posted <%= time_ago_in_words(job.created_at) %> ago</span></div>
              <div class="mb-2"><%= job.description.truncate(400) %></div>
              <!--<div class="mb-2">Reservation Period: <= @factor %> Days</div>-->
              
              <%#<div class="mt-2"><strong>About Client &nbsp;&nbsp; </strong><span class="rating rating<%= job.id >"></span></div>%>
          </div>    
		    </div>
      </div> 
    </div>
   
<% end %>
<div class="digg_pagination mb-3">
      <%= will_paginate @jobs %>
    </div>
</div>

<script>
$( document ).ready(function() {
    <% @jobs.each do |job| %>
        $("#clickablediv<%=job.id%>").click(function(){
             window.location=$(this).find("a").attr("href");
             return false;
        });
    <% end %>
});

</script>