<div class="container">
    <div class="featured-boxes featured-boxes-style-8">
    	<div class="row">
    	    <% @jobs.each do |job| %>
    		<div class="col-lg-4">
    		    <div class="featured-box featured-box-primary featured-box-text-left primary-bg mb-0">
    			  <div class="box-content py-1">
    			     <h4 class="mb-0 text-capitalize title-height"><%= link_to job.title.truncate(60),job_path(job.slug) %></h4>
                  </div>
                </div>
    			<div class="featured-box featured-box-primary featured-box-text-left mt-0">
    				<div class="box-content">
    					<div class="row des-height">
    						<div class="col">
    							<p><%= job.description.truncate(120) %></p>
    						</div>
    					</div>
    					<div class="row font-weight-bold bottom">
    						<div class="col-6">
    							<p class="mb-1"><%= job.duration %> Days</p>
    						</div>
    						<div class="col-6 text-right">
    							<a href="#" class="no-link">$ <%= job.amount  %></a>
    						</div>
    					</div>
    					<hr class="m-0 solid tall"/>
    					<div class="row">
    						<div class="col">
    							<h4 class="mt-2"><%= job.user.email %></h4>
    						</div>
    					</div>
    				</div>
    			</div>
    		</div>
    		<% end %>
    	</div>
    </div>
</div>    