<!-- Modal -->
<div id="markCompleted" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
        <div class="modal-header">
          <center><h4 class="modal-title"> Rating & Review </h4></center>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
            <p class="mb-1">Please leave a rating & review for this reservation</p>
            <%= bootstrap_form_for reservation,html: {id: "ordcmpltfrm"} do |f| %>
            <%= f.text_field :rating,required: true,value: nil, id: "rating_field",hide_label: true %>
              Rating: <div id="rating" class="text-center"></div>
                <%= f.hidden_field :status,value: "COMPLETED",id: "complete_status" %>
                <%= f.hidden_field :reviewed_at,value: Time.now,id: "complete_reviewed_at" %>
            <%= f.text_area :review,required: true,placeholder: "Please leave a review for this reservation" %>
            
                
        </div>
        <div class="modal-footer">
                <%= f.submit "Mark as Completed", class:"login loginmodal-button loginmodal-submit completeButton" %>
            <% end %>
          <!--<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>-->
        </div>
    </div> <!-- modal-content div-->
  </div>  <!-- modal-dialog div-->
</div>  <!-- modal div-->

<script>
  // $('#ordcmpltfrm').submit(function(e) {
  //     console.log('error: raty is 0!');
  //   if ($('rating').raty('score') == '0') {
  //     e.preventDefault();
  //     return;
  //   }
  // });
  // if ($('#rating_field').val() == "" ){
  // $('.completeButton').click(function(){
    
  //     $('#ordcmpltfrm').submit().preventDefault();
      
    
  // });
  // }
</script>


<script>

$('#rating').raty({
  click: function(score) {
    $('#rating_field').val(score)
  }
});
$(document).ready(function(){
  $('#rating');
});  
</script>