<!-- Modal -->
<div id="pause_project" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title"> Please explain why do you want to pause this project?</h4>
        </div>
        <div class="modal-body">
            <%= bootstrap_form_for reservation,html: {id: "ordpausefrm"} do |f| %>
            <%= f.text_area :pause_reason,required: true,placeholder: "Please explain why do you want to pause this project?" %>
            <%= f.hidden_field :paused_at,value: Time.now %>
            <%= f.hidden_field :status,value: "PAUSED",id: "complete_status" %>
        </div>
        <div class="modal-footer">
                <%= f.submit "Pause this Project", class:"login loginmodal-button loginmodal-submit completeButton" %>
            <% end %>
          <!--<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>-->
        </div>
    </div> <!-- modal-content div-->
  </div>  <!-- modal-dialog div-->
</div>  <!-- modal div-->