<div class="container-fluid dash-container" style="padding:0">
    <ul class="dashnav">
        <li>
            <% if controller_name=="user_panel" and action_name=="index" %>
                <a class="active" href="/user_panel">Dashboard</a>
            <% else %>
                <a href="/user_panel">Dashboard</a>
            <% end %>
        </li>
        <li>
            <% if controller_name=="user_panel" and action_name=="payments" %>
                <a class="active" href="/user_panel/payments">Payments</a>
            <% else %>
                <a href="/user_panel/payments">Payments</a>
            <% end %>
        </li>
        <li>
            <% ujam = current_user.jobs_as_employer.where(status: "PENDING").count %>
            <% if controller_name=="user_panel" and action_name=="jobs_as_employer" %>
                <a class="active" href="/jobs_as_employer">Jobs as employer <% if ujam > 0 %> <span class="badge badge-primary"><%=  ujam %> </span> <% end %> </a>
            <% else %>
                <a href="/jobs_as_employer">Jobs as employer <% if ujam > 0 %> <span class="badge badge-primary"><%= ujam %> </span> <% end %></a>
            <% end %>
        </li>
            
            <% ujaw = current_user.jobs_as_worker.where(status: "RESERVED").count %>
        <li>
            <% if controller_name=="user_panel" and action_name=="jobs_as_worker" %>
                <a class="active" href="/jobs_as_worker">Jobs as worker <% if ujaw > 0 %> <span class="badge badge-primary"><%=  ujaw %> </span><% end %></a>
            <% else %>
                <a href="/jobs_as_worker">Jobs as worker <% if ujaw > 0 %> <span class="badge badge-primary"><%= ujaw %> </span><% end %></a>
            <% end %>
        </li>
        
        <% urae = current_user.reservations_as_employer.where(status: "PENDING").count %>
        <li>
            <% if controller_name=="user_panel" and action_name=="reservations_as_employer" %>
                <a class="active" href="/reservations_as_employer">Reservations as Employer <% if urae > 0 %>  <span class="badge badge-primary"><%=  urae %> </span><% end %></a>
            <% else %>
                <a href="/reservations_as_employer">Reservations as Employer <% if urae > 0 %>  <span class="badge badge-primary"><%= urae %> </span><% end %></a>
            <% end %>
        </li>
        
        
        <% uraw = current_user.reservations_as_worker.where(status: "PENDING").count %>
        <li>
            <% if controller_name=="user_panel" and action_name=="reservations_as_worker" %>
                <a class="active" href="/reservations_as_worker">Reservations as Worker <% if uraw > 0 %>  <span class="badge badge-primary"><%=  uraw %> </span><% end %></a>
            <% else %>
                <a href="/reservations_as_worker">Reservations as Worker <% if uraw > 0  %> <span class="badge badge-primary"><%= uraw %> </span><% end %></a>
            <% end %>
        </li>
        
        <li>
            <% if controller_name=="user_panel" and action_name=="notifications" %>
                <a class="active" href="/notifications"><i class="fa fa-2x fa-bell hidden-md hidden-lg"></i><span class="hidden-sm hidden-xs">Notifications</span> </a>
            <% else %>
                <a href="/notifications"><i class="fa fa-2x fa-bell hidden-md hidden-lg"></i><span class="hidden-sm hidden-xs">Notifications </span> <span class="badge badge-danger" id="notification-counter"><%= current_user.notifications.where(read: false).count %> </span></a>
            <% end %>
        </li>
    </ul>
</div>